[submodule "engine/thirdparty/glfw"]
	path = engine/thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/thirdparty/freetype"]
	path = engine/thirdparty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "engine/thirdparty/portaudio"]
	path = engine/thirdparty/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "engine/thirdparty/sndfile"]
	path = engine/thirdparty/sndfile
	url = https://github.com/libsndfile/libsndfile.git
